h1{

  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  background: #33ccff;
}
h2{
    font-size: 2em
}
body{
    background-color:#99ff99;
}

#TitleTodo{
  font-weight: bold;
  font-size: 1em;

}
#taskForm{
  background-color: white;
  padding-top: 4pt;
  padding-bottom: 4pt;
  padding-left: 4pt;
  padding-right: 4pt;
}

#taskFilter{
  border: 2px solid black;
  background-color: cornflowerblue;
  width: fit-content;
  margin-left:auto; 
    margin-right:auto;

}

#taskinput{
  background-color: chocolate;
}

#todoTable{
  
  margin-left:auto; 
    margin-right:auto;
}

#addedTask{
  border: 2px solid black;
  box-shadow: 200px;
}

td{
  
  border: 2px solid black;
  background-color: cornflowerblue;
  
  height: max-content;
}

button{
  background-color: #BDD3FB;
  border-radius: 20pt;
}

#markDone{

float: left;
height: max-content;

}
#removeTask{
  float: right;
  height: fit-content;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

